.header {
  height: auto;
  background-color: red;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logoImg {
  width: 300px;
}

.searchBar {
  display: flex;
  align-items: center;
  
}

input {
  border-radius: 20px;
  height: auto;
  border: 3px solid #24b4fb;
  box-shadow:  2px 5px 10px #24b4fb;
  
}