.header {
  height: auto;
  background-color: rgb(226, 81, 81);
  padding: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  box-shadow: rgb(255, 198, 0) -2px -2px 2px 2px;
  
}
.logoImg {
  width: 300px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  
}

input {
  border-radius: 20px;
  height: auto;
  border: 3px solid #24b4fb;
  box-shadow:  2px 5px 10px #24b4fb;
  
}
select {
  cursor: pointer;
  box-shadow:  2px 5px 10px #24b4fb;

}